<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>BAG-APP</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<h1>BAG HUNTING</h1>
		<nav>
			<ul>
				<li><a href="#">ホーム</a></li>
				<li><a href="#">投稿する</a></li>
				<li><a href="#">アカウント</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>最新の投稿</h2>
			<article>
				<h3>投稿タイトル1</h3>
				<p>投稿本文1</p>
				<a href="#">続きを読む</a>
			</article>
			<article>
				<h3>投稿タイトル2</h3>
				<p>投稿本文2</p>
				<a href="#">続きを読む</a>
			</article>
			<article>
				<h3>投稿タイトル3</h3>
				<p>投稿本文3</p>
				<a href="#">続きを読む</a>
			</article>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 ユーザー投稿型アプリ</p>
	</footer>
</body>
</html>
